PIBOT_DISCORD_TOKEN=your_discord_bot_token_here
PIBOT_MONGODB_URI=mongodb://localhost:27017/
PIBOT_SUMMARIZE_CLOUDFLARE_BASE_URL=https://gateway.ai.cloudflare.com/v1/<account>/<gateway>/openai
PIBOT_SUMMARIZE_CLOUDFLARE_TOKEN=your_cloudflare_ai_gateway_token
PIBOT_TRANSLATIONS_DEEPL_API_KEY=your_deepl_api_key
# PIBOT_LOG_LEVEL=DEBUG
# PIBOT_ENABLE_DEV_TOOLS=true
# PIBOT_COMMAND_SYNC_BEHAVIOR=local
