name: "Docker Publish"

on:
  workflow_call:
    inputs:
      version:
        description: "Version to tag the Docker image with"
        type: string
        required: true
      ref:
        description: "Commit ref to checkout (release commit from caller)"
        required: false
        type: string
    secrets:
      DOCKERHUB_TOKEN:
        description: "Docker Hub token for authentication"
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            VERSION=${{ inputs.version }}
          tags: |
            "${{ vars.DOCKERHUB_REPOSITORY }}:latest"
            "${{ vars.DOCKERHUB_REPOSITORY }}:${{ inputs.version }}"