name: "Docker Publish"

on:
  workflow_call:
    inputs: {}
    secrets:
      DOCKERHUB_TOKEN:
        description: "Docker Hub token for authentication"
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Set version
        id: version
        run: echo "version=$(uv version --short)" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            VERSION=${{ steps.version.outputs.version }}
          tags: |
            "${{ vars.DOCKERHUB_REPOSITORY }}:latest"
            "${{ vars.DOCKERHUB_REPOSITORY }}:${{ steps.version.outputs.version }}"