name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: read # for checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    outputs:
        version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Install semantic-release plugins
        run: npm install @semantic-release/exec @semantic-release/git
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
      - name: Read version
        id: version
        run: |
          if [ -f .release-happened ]; then
            echo "version=$(uv version --short)" >> $GITHUB_OUTPUT
          else
            echo "version=none" >> $GITHUB_OUTPUT
          fi
  docker-publish:
    needs: release
    if: needs.release.outputs.version != 'none'
    uses: ./.github/workflows/docker-publish.yml
    with:
      version: ${{ needs.release.outputs.version }}
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  # pibot name is occupied on PyPI, so we cant publish to it.
  # pypi-publish:
  #   needs: release
  #   if: needs.release.outputs.version != 'none'
  #   uses: ./.github/workflows/pypi-publish.yml
  #   secrets:
  #     PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
